.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.form {
    width: 300px;
    padding: 20px;
    border: 1px solid #030303;
    border-radius: 5px;
    background-color: #0a0a0a;
}

.form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.form input[type="file"] {
    margin-bottom: 20px;
}

.form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}

.btnStyle {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 4px;
    background: transparent;
    padding: 14px 35px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    color: #65deff !important;
    border: 1px solid #65deff !important;
}

.textStyle {
    padding: 10px 10px;
}